html, body {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: Helvetica, Calibri, Roboto, Open Sans, sans-serif
			-webkit-backface-visibility: hidden;
			background: #ffffff;
			overflow: hidden;
		}
		* {
			box-sizing: inherit;
		}
		h1 {
			text-align: center;
			font-size: 30px;
			color: #282828;
		}
		h4 {
			text-align: center;
			color: #565656;
		}
		a:link, a:visited {
		    color: #95979b;
		}
		svg {
			margin:auto;
			display:block;
		}

		.circle-overlay {
			font-size: 16px;
			border-radius: 50%;
			position: absolute;
			overflow: hidden;
		}
		.circle-overlay__inner {
			text-align: center;
			width: 100%;
			height: 100%;
		}

		.hidden {
			display: none;
		}
		.node-icon--faded {
			opacity: 0.5;
		}
		.legend-size circle {
			fill: #939393;
		}

		#form {
			font-family: Helvetica, Calibri, Roboto, Open Sans, sans-serif;
			font-size: 12px;


		}

		fieldset { border: 0px; }